* {
    background-color:#FF69B4;
}
h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: justify;
}

h2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    text-align: center;
}

.header_img{
    display: block;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}